* {
  box-sizing: border-box;
}

//noinspection CssInvalidFunction
html,
body {
  background-color:darken(#252B37, 4%);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  //background: rgb(150, 150, 150);
 /* background-image: -moz-radial-gradient(center, ellipse, cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(150, 150, 150, 1)), color-stop(100%, rgba(89, 89, 89, 1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#969696', endColorstr = '#595959', GradientType = 1);*/
  font-family: monospace;
  font-size: 1rem;
  overscroll-behavior-y: contain;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  border-radius: 0;
  background:transparent;
  color: inherit;
  font-size: 1em;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  font-family: "Fira Code Medium", serif;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

//noinspection CssInvalidFunction
.app-layout {
  border-radius: 6px;
  //background: rgb(150, 150, 150);
  background-color:darken(#252B37, 4%);
  background-image: -moz-radial-gradient(center, ellipse, cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(150, 150, 150, 1)), color-stop(100%, rgba(89, 89, 89, 1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#969696', endColorstr = '#595959', GradientType = 1);
  font-family: monospace;
  box-shadow: 0 0 60px rgba(0, 0, 0, .1);
  width: 100%;
  height: 100%;
  max-width: 550px;
  position: absolute;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--container-padding) / 1.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__system-bar {
    position: relative;
    z-index: 100500;
    img {
      width: 100%;
    }
  }
}

.container {

  background-color:darken(#252B37, 4%);
  padding: 0 var(--container-padding);
}

.slider {
  height: 100%;
}

.slider__container {
  position: relative;
  height: 100%;
}

.slider__item {
  //background: #c0392b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right center;
  will-change: transform, opacity;
}

/* MIXINS*/
@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
  }
}

  /* -- IMAGE BACKGROUND --*/
.slider__inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: box-shadow;
  border-radius: 10px;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.screen-modal__scroll {
  //background: #00ffc8;
  height: 100%;
  will-change: transform, opacity;
  > div {
    height: 100%;
    overflow: auto;
  }
}

.screen-modal-root {
  //background: ;
  --container-padding2: calc(var(--container-padding) / 1.5);
  --container-padding3: calc(var(--container-padding) / 2);
  --margin: calc(var(--container-padding) / 4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  > .container {
    will-change: transform, opacity;
  }
  .container {
    padding: 0 var(--container-padding2);
  }
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.screen-modal {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  bottom: 0;
  will-change: transform;
  .container {
    padding: var(--container-padding3) var(--container-padding2);
  }
  .screen-modal__content {
    padding-top: var(--container-padding);
    border-bottom: 2px solid #d8d8d8;
    .header__title {
      margin-bottom: var(--margin);
      padding-right: 0;
    }
    .header__subtitle {
      margin-bottom: var(--margin);
    }
  }
  p {
    margin-top: 0;
  }
}
// -- HEADER CONTAINER --//
.header {
  //background: #c0392b;
  //justify-content: center;
  position: relative;
  height: 60px;
  overflow: hidden;
  margin: 15px 0;
  will-change: transform, opacity;
  > div {
    padding: 0 16px;
    display: flex;
    align-items: center;
    position: absolute;
    will-change: transform, opacity;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.header__item {
  font-family: monospace;
  //background: #5c7cfa;
  width: 100%;
}

// -- LEFT SIDE TOP --//
.header__title {
  //background: #00ffc8;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  //text-overflow: ellipsis;
}

  // -- RIGHT SIDE TOP --//
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}


// -- BOTTOM ROW OF HEADER --//
.header__subtitle {
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 10px;
  font-weight: 500;
  display: flex;
  align-items: baseline;
}
// -- ??? --//
.header__date {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 600;
  padding-right: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.button {
  padding: calc(var(--container-padding) / 3);
}

.events-screen {
  height: 100%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.events-screen__slider {
  position: relative;
  height: calc(80% - 75px);
  margin-bottom: 25px;
  width: 78%;
  flex: 1;
  .slider {
    padding-left: var(--container-padding);
  }
}
// -- LEFT BOTTOM BTN --//
.left-button {
  padding-left: 16px;
  font-size: 1rem;
}
// -- RIGHT BOTTOM BTN --//
.right-button {
  font-size: 1rem;
  padding-right: 16px;
}
// -- TOP NAV BAR --//
.nav-bar {
  font-size: 2rem;
}
// -- TOP NAV & BUTTON --//
.nav-bar__back {
  //background: #1da1f2;
  color: white;
  padding-left: 16px;
  font-size: 1rem;
  line-height: 1;
  //display: flex;
  //align-items: baseline;
}
